<div class="card bg-light">
  <div class="card-body">
<p style="color:blue;"><b>{{ message }}</b></p>

<div>
    <div *ngIf="currentF" class="edit-form">
      <h4 style="color:blue;">Food</h4>
      <form>
        <div class="form-group">
          <label for="name"><b>Name :</b></label>
          <input  type="text" class="form-control" id="name" [(ngModel)]="currentF.name" name="name"/>
        </div>

        <div class="form-group">
          <label for="description"><b>Description:</b></label>
          <textarea type="text" class="form-control" id="description" [(ngModel)]="currentF.description"name="description"></textarea>
        </div>
  

        <div class="form-group">
          <label for=" ingredients"><b>Ingredients:</b></label>
          <textarea type="text" class="form-control" id=" ingredients" [(ngModel)]="currentF. ingredients"name=" ingredients"></textarea>
        </div>
        
      </form>
     
      <button  class="btn btn-danger" (click)="deleteFood()"> Delete </button>
      <button  style="margin: 50px;" type="submit"  class="btn btn-info"  (click)="updateFood()"> Update </button>
      </div>
  
    <div *ngIf="!currentF">
      <br />
      <p>Cannot access this food...</p>
    </div>
  </div>
</div>
</div>