<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
          <div >
            <button class="btn btn-dark " routerLink="/home">Home</button>
            <button class="btn btn-dark " routerLink="/food">Food</button>
          </div>
        </div>
    
        
    
<ul class="nav navbar-nav">
      
      <li class="nav-item">
          <button type="button" class="btn btn-dark" routerLink="/add">Add new</button>
      </li>

      <li class="nav-item">
        <button type="button" class="btn btn-dark" routerLink="/login">Login</button>
    </li>

      <li class="nav-item">
        <button type="button" class="btn btn-dark" routerLink="/register">Sign up</button>
    </li>


      
      <li  class="nav-item">
        <button type="button" class="btn btn-dark" routerLink="/contact" >Contact Us</button>
        
      </li>
    </ul>
  </div>
</nav>

  
